<div class="user-form">
 <header class="header">Welcome to My Diary </header>

 <div class="user-main">
  <h2 class="signup-title">Sign up</h2>
 
  <%= form_with model:@user, url: user_registration_path, local: true do |f| %>

   <%# エラーメッセージ %>
   <%= render 'devise/shared/error_messages', model: f.object %>
   <%# エラーメッセージ %>

   <div class="nickname">
   <%= f.label :nickname, class:"form-name" %><br />
   <%= f.text_area :nickname, class:"nickname-form"%>
   </div>

   <div class="email-login">
    <%= f.label :email, class:"form-name" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login-form" %>
   </div>

   <div class="password-login">
    <%= f.label :password, class:"form-name" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"login-form" %>
   </div>

   <div class="password-login">
    <%= f.label :password_confirmation, class:"form-name" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"login-form" %>
   </div>

   <div class="signup-actions">
    <%= f.submit "Sign up", class:"bottun" %>
   </div>
  <% end %>
  <div class="devise-links">
   <%= render "devise/shared/links" %>
  </div>
 </div>
</div>