<div class="diary-create-contents">
  <header class="diary-create-header">
   <h1 class="top-page-header">My Diary</h1>
  </header>
 
  <div class="diary-create-main">
    <%= form_with(model:@diary, local: true) do |f|%>
   
     <%# エラーメッセージ %>
     <%= render 'devise/shared/error_messages', model: f.object %>
     <%# エラーメッセージ %>

     <div class="img-upload">
      <div class="click-upload">
       <h2>画像アップロード</h2>
        <%= f.file_field :images, name: 'diary[images][]', id: 'diary-image' %>
        <div class="diary-create-image">
         <div id="image-lists", class="create-image-lists">
         </div>
        </div>
      </div>
     </div>
     <div>
      <%= f.text_area :title, class:"diary-title" %>
     </div>

     <div class="diary-create-text">
      <%= f.text_area :content, class:"diary-text"%>
     </div>

     <div class="diary-create-bottun">
      <%= f.check_box :opened %>日記を公開する
      <%= f.submit "保存する", class:"submit-bottun"%>
      <%= f.date_select :start_time %>
     </div>
     <div class="to-toppage">
      <%= link_to "詳細に戻る", 'javascript:history.back()', class:"bottun" %>
     </div>
    <% end %>
  </div>
</div>