<% if current_user.id == @diary.user_id %>
<div class="diary-create-contents">
 <header class="diary-create-header">
  <h1 class="top-page-header">My Diary</h1>
 </header>
 
 <div class="diary-create-main">
  <h2 class="diary-create-title">今日あった出来事を書こう！</h2> <%#仮のタイトル%>
  <%= form_with(model:@diary, local: true) do |f|%>
   
   <%#エラーメッセージを入れる%>

   <div class="img-upload">
    <div class="click-upload">
      <p>
        画像アップロード
      </p>
      <%= f.file_field :images, name: 'diary[images][]', id: 'diary-image' %>
    </div>
   </div>

   <%= f.text_area :title, class:"diary-title" %>
   <div class="diary-create-text">
   <%= f.text_area :content, class:"diary-text"%></div>

   <div class="diary-create-bottun">
   <%= f.submit "保存する", class:"submit-bottun"%>
   <%= f.date_select :start_time %>
   </div>
   <div class="to-toppage"><%= link_to "詳細に戻る", diary_path, class:"bottun" %></div>
  <% end %>
 </div>

  <footer class="diary-create-footer">
  
  </footer>
</div>
<% else %>
<%= link_to 'トップページへ', root_path, method: :get, class:"bottun" %>
<% end %>