<div class="diary-create-contents">
 <header class="diary-create-header">
  <p class="top-page-header">My Diary</p>
 </header>
 
 <div class="diary-create-main">
   <h1 class="diary-create-title">今日あった出来事を書こう！</h1>

    <%= form_with model:@diary, local: true do |f|%>
   
     <%#エラーメッセージを入れる%>

     <div class="img-upload">

      <div class="click-upload">
       <h2>画像アップロード</h2>
        <%= f.file_field :images, multiple: true, name: 'diary[images][]', id: 'diary-image' %>
        <div class="diary-create-image">
         <div id="image-lists", class="create-image-lists">
         </div>
        </div>
      </div>

     </div>
     
     <div>
      <%= f.text_area :title, placeholder:"タイトル", class:"diary-title" %>
     </div>

     <div class="diary-create-text">
      <%= f.text_area :content, placeholder:"本文", class:"diary-text" %>
     </div>

     <div class="diary-create-bottun">
      <%= f.check_box :open %>日記を公開する
      <%= f.submit "保存する", class:"submit-bottun" %>
      <%= f.date_select :start_time, class:"bottun" %>
     </div>
     <div class="to-toppage">
      <%= link_to 'トップページに戻る', root_path, method: :get, class:"bottun" %>
     </div>
    <% end %>
 </div>
</div>