<div class="diary-show-contents">
 <header class="diary-create-header">
  <h1 class="top-page-header">My Diary</h1>
 </header>
 
 <div class="show-main">
 
  <%# 日記詳細 %>
   <div class="show-date">
    <h2><%= @diary.start_time %>の日記</h2> 
     </div>
    <div class="show-image">
     <% if @diary.images.present? %>

      <% @diary.images.each do |image| %>
       <%= image_tag image, class:'img' %>
      <% end %>

     <% end %>
    </div>
   
   <div class="show-title">
    <%= @diary.title %>
   </div>

   <div class="show-text">
    <%= @diary.content %>
   </div>
  <%# 日記詳細 %>

   <div class="show-bottun">
    <% if user_signed_in? && (current_user.id == @diary.user.id) %>
     <%= link_to '編集', edit_diary_path, method: :get, class: "bottun" %>
     <%= link_to '削除', diary_path(@diary.id), method: :delete, class:"bottun" %>
     <%= link_to 'トップページに戻る', 'javascript:history.back()', class:"bottun" %>
    <% else %>
     <%= link_to '一覧に戻る', 'javascript:history.back()', class:"bottun" %>
    <% end %>
   </div>

  <footer class="show-footer">

   <%# コメント欄 %>
   <% if @diary.open == "1"%> <%# 公開設定しているものにのみコメント欄が現れる %>
   <div class="comment-form">
    <% if current_user %>
     <%= form_with(model: @comment, url: diary_comments_path(@diary), local: true) do |f| %>
      <%= f.text_area :text, placeholder: 'コメント', class:"comment-send", id:"comment-send" %>
      <%= f.submit '送信', class:"submit-bottun", id:"comment-submit" %>
     <% end %>
    <% else %>
     <p class="comment-error">ログインしているユーザーのみコメントができます</p>
    <% end %>
   </div>
   <div class="comments-content">
    <h3 class="comments-title", id="comments">コメント一覧</h3>
     <% if @comments %>
      <% @comments.reverse_each do |comment| %>
        <div class="comments">
         <div class="comment-text"><%= comment.text %></div>
         <div class="comment-user"><%= comment.user.nickname %></div>
         <div class="comment-time"><%= l comment.created_at %></div>
        </div>
      <% end %>
     <% end %>
   </div>
   <% end %><%# 公開設定しているものにのみコメント欄が現れる %>
   <%# コメント欄 %>

   <div class="sns">
    <%= link_to 'Twitter','https://twitter.com/share?url=#{request.url}', class:"sns-t" %>
    <%= link_to 'LINE', 'https://line.me/R/msg/text/?#{request.url}', class:"sns-l" %>
   </div>
  </footer>
 </div>
</div>