<div class="diary-show-contents">
 <header class="diary-create-header">
  <h1 class="top-page-header">My Diary</h1>
 </header>
 
 <div class="diary-show-main">
   <p class="diary-show-title"><%= @diary.start_time %>の日記</p> <%#仮のタイトル%>
    <div class="show-image">
     <% if @diary.images.present? %>

      <% @diary.images.each do |image| %>
       <%= image_tag image, class:'img' %>
      <% end %>

     <% end %>
    </div>
   
   <div class="show-title">
    <%= @diary.title %>
   </div>

   <div class="show-text">
    <%= @diary.content %>
   </div>

   <div class="show-bottun">
    <% if current_user.id == @diary.user.id%>
     <%= link_to '編集', edit_diary_path, method: :get, class: "bottun" %>
     <%= link_to '削除', diary_path(@diary.id), method: :delete, class:"bottun" %>
     <%= link_to 'トップページに戻る', 'javascript:history.back()', class:"bottun" %>
    <% else %>
     <%= link_to '一覧に戻る', 'javascript:history.back()', class:"bottun" %>
    <% end %>
   </div>

 </div>

 <footer class="diary-show-footer">
  <%= form_with(model: [@diary, @comment], url: diary_comments_path(@diary), local: true) do |f| %>
      <%= f.text_area :text, placeholder: 'コメント', class:"comment-form", id:"comment_text" %>
      <%= f.submit '送信', class:"submit-bottun"%>
  <% end %>
  <div class="comments", id ="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.reverse_each do |comment| %>
         <p><%= comment.text %></p>
         <%= comment.user.nickname %>
        <% end %>
      <% end %>
    </div>

  <div class="sns">
   <%= link_to 'Twitter','https://twitter.com/share?url=#{request.url}', class:"sns-t" %>
   <%= link_to 'LINE', 'https://line.me/R/msg/text/?#{request.url}', class:"sns-l" %>
  </div>
 </footer>
 
</div>