<% if current_user.id == @diary.user_id%>
<div class="diary-create-contents">
 <header class="diary-create-header">
  <h1>My Diary</h1>
 </header>
 
 <div class="diary-create-main">
  <p class="diary-create-title"><%= @diary.start_time %>の日記</p> <%#仮のタイトル%>
  
   <%#エラーメッセージを入れる%>

   <div>
   <%= image_tag @diary.image, class:"img" %></div>

   <div class="diary-text">
   <%= @diary.content %></div>
   <%= link_to '編集', edit_diary_path, method: :get, class: "bottun" %>
   <%= link_to '削除', diary_path(@diary.id), method: :delete, class:"bottun" %>
   <%= link_to 'トップページへ', root_path, method: :get, class:"bottun" %>
 </div>

 <footer class="diary-create-footer">
  
 </footer>
</div>
<% else %>
<%= link_to 'トップページへ', root_path, method: :get, class:"bottun" %>
<% end %>