<div class="user-form">
 <header class="header">Welcome to My Diary</header>

 <div class="user-main">
  <h2 class="login-title">Log in</h2>

  <%= form_with(model:@user, url: user_session_path, local: true) do |f| %>

  <%# エラーメッセージ %>
   <%= render 'devise/shared/error_messages', model: f.object %>
   <%# エラーメッセージ %>

   <div class="email">
    <%= f.label :email, class:"form-name" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"login-form" %>
   </div>
   <div class="password">
    <%= f.label :password, class:"form-name" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"login-form" %>
   </div>
   <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
   <% end %>

   <div class="login-actions">
    <%= f.submit "Log in", class:"bottun" %>
   </div>
   <% end %>
   <div class="devise-links">
    <%= render "devise/shared/links" %>
   </div>
 </div>
</div>